.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #fff;
  width: 150px;
  max-width: 1200px;
  
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

.globe-icon {
  font-size: 24px;
  cursor: pointer;
}

.menu-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  cursor: pointer;
  background-color: #f7f7f7;
}

.menu-icon, .profile-icon {
  font-size: 20px;
}

.dropdown {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  z-index: 1000;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
}

.dropdown li:last-child {
  border-bottom: none;
}

.dropdown a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.dropdown a:hover {
  color: #ff385c;
}

.menu-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  cursor: pointer;
  background-color: #f7f7f7;
}