<div class="chat-dropdown-container">
  <button class="chat-icon-button" (click)="toggleDropdown($event)">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
      <path d="M4 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H8l-4 4V4z" />
    </svg>


    <span *ngIf="unreadCount > 0" class="badge" [class.new-message]="hasNewMessage">{{unreadCount}}</span>
  </button>

  <div class="dropdown-menu" [class.hidden]="!showDropdown">
    <div *ngIf="conversations.length === 0" class="dropdown-item">
      No conversations
    </div>
    <div *ngFor="let conv of conversations" class="dropdown-item conversation-item"
      [class.unread]="chatService.hasUnreadMessages(conv)" (click)="navigateToChat(conv.id)">
      <div class="conversation-preview">
        <div class="senderDetails">

          <img *ngIf="chatService.getOtherUser(conv).profilePictureUrl"
            [src]="'https://localhost:7228' + chatService.getOtherUser(conv).profilePictureUrl"
            alt="{{ chatService.getOtherUser(conv).firstName }}" class="avatar" />
          <span class="user-name">{{ chatService.getOtherUser(conv).firstName }}</span>
        </div>
        <span class="last-message">{{ conv.messages[0]?.content | truncate:30 }}</span>
      </div>
    </div>
  </div>
</div>